*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.col-1 { width:8.33% }
.col-2 { width:16.66% }
.col-3 { width:25% }
.col-4 { width:33.33% }
.col-5 { width:41.66% }
.col-6 { width:50% }
.col-7 { width:58.33% }
.col-8 { width:66.66% }
.col-9 { width:75% }
.col-10 { width:83.33% }
.col-11 { width:91.66% }
.col-12 { width:100% }

[class*='col-']
{
    float: left;
    border: 1px solid gray;
}
 .row:after {
     content: '';
     clear: both;
     display: block;
 }

 .container{
     width: 90%;
     height: auto;
     margin: 0 auto;
 }

 .header-height { height: 100px }
 .menu-height { height: 50px }
 .body-height { height: 600px }
 .big-footer-height { height: 300px }
 .footer-height { height: 50px }

 @media screen and (max-width: 600px){
    [class*='col-']
    {
        width: 100%;
    }

 }@media screen and (min-width: 601px) and (max-width: 1100px){
    .col-m1 { width:8.33% }
    .col-m2 { width:16.66% }
    .col-m3 { width:25% }
    .col-m4 { width:33.33% }
    .col-m5 { width:41.66% }
    .col-m6 { width:50% }
    .col-m7 { width:58.33% }
    .col-m8 { width:66.66% }
    .col-m9 { width:75% }
    .col-m10 { width:83.33% }
    .col-m11 { width:91.66% }
    .col-m12 { width:100% }
    .d-none {
        display: none;
    }
 }




/* @media screen and (max-width: 800px)*/
/* {*/
/*     .test{ color: red }*/
/* }*/
/*@media screen and (min-width: 600px) and (max-width: 1080px)*/
/* {*/
/*     .test2{ background-color: green }*/
/* }*/
/*@media screen and (max-width: 701px){*/
/*    p{*/
/*        background-color: aqua;*/

/*    }*/
/*}*/
/*@media screen and (min-width: 700px) {*/
/*    .prodip{*/
/*        background-color: red;*/
/*        margin: 10px 5px;*/
/*    }*/
/*}*/

.img-box img {
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: 1s;
}

.detail {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    background: rgba(0,0,0,0.5);
    transform: scale(0);
    transition: 1s;
}

.img-box img:hover{
    transform: scale(1.4);
}

.img-box{
    position: relative;
    overflow: hidden;
}

.box {
    position: relative;
    padding: 5px;
    border: 0px;
}

.box:hover .detail{
    transform: scale(1);
}

.content {
    text-align: center;
    padding: 10px;
    color: white;


}

.btn {
    text-decoration: none;
    padding: 10px;
    background-color: black;
    color: white;
    transform: scale(1);
}

.btn:hover{
    transform: scale(2);
}